<main class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
  <hr />
  <div class="text-xl text-red-600">Test for Tailwind watch?</div>
  <div class="text-xl text-green-800-600"><a href="/board">Board</a></div>
</main>
